h2 {
    font-size: 38px;
    margin: 10px auto 10px;
    background-color: beige;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    box-shadow: black 0 0 5px;
}

.calc {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    width: 500px;
    height: 70%;
    gap: calc(12% / 3);
    background-color: beige;
    box-shadow: black 0 0 5px;
    padding: 10px;
    border-radius: 10px;
}

.answer {
    grid-column: span 3;
    border-radius: 10px;
    outline: none;
    width: auto;
}

.btn, .answer {
    font-size: xx-large;
    font-weight: bold;
    box-shadow: black 0 0 5px inset;
}

@media (max-width: 600px) {
    h2 {
        font-size: xx-large;
    }
    .calc {
        width: 90%;
    }
}